{% extends 'home_template/pages/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'tanques/css/forms.css' %}">
{% endblock %}
    

{% block main %}
    <div 
        class="form-espaco-tanque"
    >

        <h2 
            class="form-titulo"
        >
            Atualização de Tanque
        </h2>
    
        <form method="POST" class="form" action="{% url 'cadastros:tanques:atualizar' tanque.pk %}">
            {% csrf_token %}
    
            {% for field in form %}
                <div 
                    class="form-group">
                    <label 
                        for="{{ field.id_for_label }}" 
                    >
                        {{ field.label }}
                    </label>
                    {{ field }}
    
                    {% if fields.errors %}
                        {% for error in fields.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            <p 
                class="aviso-checkbox"
            >
                Para desativar o tanque descelecione a caixa de status e click em salvar.<br>
                Para ativar selecione a caixa de status e click em salvar.
            </p>

            <hr>
            
            <input 
                type="hidden"
                name='next'
                value="{{ request.GET.next }}"
            >
            
            <div 
                class="form-actions">
                <button 
                    class="btn atualizar" 
                    type="submit"
                >
                    Atualizar
                </button>
                <a 
                    href="{{ request.GET.next|default:request.META.HTTP_REFERER }}" 
                    class="btn cancelar"
                >
                    Cancelar
                </a>
            </div>
        </form>
    </div>

{% endblock %}

