{% extends 'pages/base.html' %}
{% load static %}


{% block title %} Tanques {% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'css/lista_tanque.css' %}">
{% endblock %}


{% block main %}

    <div>
        <nav class="nav-pesquisa">
            <form method="GET" class="form">
                {% csrf_token %}

                <div>
                    <input 
                        type="text" 
                        class="form-input"
                        placeholder="Pesquisar..."
                        name="q"
                    >
                </div>
                <div>
                    <input 
                        type="date" 
                        class="form-data"
                    >
                    <input 
                        type="date" 
                        class="form-data"
                    >
                </div> 
                <button 
                    type="submit" 
                    class="button-pesquisa"
                >
                    🔍
                </button>
            </form>

            <a 
                class="novo-registro"
                href="{% url 'cadastros:tanques:cadastrar' %}"
                >
                Novo registro
            </a>
        </nav>
        
        
        <div class="lista-tanque">
            {% if tanques %}
                
                {% for tanque  in tanques %}
                    <table class="tabela-tanque">
                        <tbody class="tabela-body">
                            <tr>
                                <th>Tipo de combustível</th>
                                <td>
                                    {% if tanque.tipo_combustivel %}
                                        {{ tanque.tipo_combustivel }}
                                    {% else %}
                                        Sem tipo definido
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Identificador do tanque</th>
                                <td>
                                    {{ tanque.identificador_tanque }}
                                </td>
                            </tr>
                            <tr>
                                <th>Capacidade máxima</th>
                                <td>
                                    {{ tanque.capacidade_maxima }} L
                                </td>
                            </tr>
                            <tr>
                                <th>Quatidade disponível</th>
                                <td>
                                    {{ tanque.quantidade_disponivel }}
                                </td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    {% if tanque.ativo %}
                                        <p class="status status-ativo">Ativo 🟢</p>
                                    {% else %}
                                        <p class="status status-desativado">Desativado 🔴</p> 
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Ações</th>
                                <td class="acoes-buttons">
                                    <a 
                                        href="{% url 'cadastros:tanques:atualizar' tanque.pk %}"
                                        class="btn atualizar"
                                    >
                                        Detalhes
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            {% else %}
                <h2>Não há registros de tanques</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
