{% extends 'base.html' %}
{% load static %}



{% block main %}
    <h2 class="form__titulo">Cadastro de Tanque</h2>

    <form method="POST" class="form">
        {% csrf_token %}

        <div class="form__group">
            <label for="id_tipo_combustivel" class="form__label">Tipo de Combustível</label>
            <select class="form__select" name="tipo_combustivel" id="id_tipo_combustivel" required>
                <option value="" {% if tanque.tipo_combustivel == "" %}selected{% endif %}>------------</option>
                <option value="GASOLINA" {% if tanque.tipo_combustivel == "GASOLINA" %}selected{% endif %}>Gasolina</option>
                <option value="DIESEL" {% if tanque.tipo_combustivel == "DIESEL" %}selected{% endif %}>Oléo Diesel</option>
            </select>
        </div>

        <div class="form__group">
            <label for="id_quantidade" class="form__label">Capacidade do tanque</label>
            <input class="form__input" type="text" name="capacidade_maxima" required id="id_capacidade_maxima" value="{{tanque.capacidade_maxima}}">
        </div>

        <div class="form__group">
            <label for="id_quantidade" class="form__label">Quantidade disponivel</label>
            <input class="form__input" type="text" name="quantidade_disponivel" required id="id_quantidade_disponivel" value="{{tanque.quantidade_disponivel}}">
        </div>


        <div class="form__actions">
            <button class="form__button form__button__enviar" type="submit">Cadastrar</button>
            <a href="{% url 'cadastros:tanques:listar' %}" class="form__button form__button__voltar">Voltar</a>
        </div>
    </form>
{% endblock %}