asgiref==3.9.1
Django==5.2.5
django-filter==25.1
django-otp==1.6.1
django-simple-history==3.10.1
djangorestframework==3.16.1
dotenv==0.9.9
pdfkit==1.0.0
pillow==11.3.0
PyPDF2==3.0.1
python-dotenv==1.1.1
python-pdf==0.30
qrcode==8.2
sqlparse==0.5.3
wkhtmltopdf==0.2
