{% extends 'abastecimento/base.html' %}



{% block main %}
    <nav>
        <form method="get" style="display: flex; margin: 20px 20px 20px 0px; flex-direction: row; gap: 20px;">
            <input style="padding: 8px;" type="text" placeholder="pesquisar..." name="q" value="{{ request.GET.q }}">
            <div>
                <label for="data_inicio">De:</label>
                <input style="padding: 8px;" type="date" name="data_inicio" value="{{ request.GET.data_inicio }}">
            </div>
            <div>
                <label for="data_fim">Até:</label>
                <input style="padding: 8px;" type="date" name="data_fim" value="{{ request.GET.data_fim }}">
            </div>
            <button style="padding: 8px;" type="submit">🔍 Filtrar</button>
        </form>
    </nav>
    {% if abastecimentos %}
        {% for abastecimento in abastecimentos %}
            <div style="display: flex; flex-direction: column; gap: 10px; margin-bottom: 40px;">
                <p><strong>Nome da bomba: </strong> {{ abastecimento.bomba.nome_bomba }}</p>
                <p><strong>Litros Abastecidos: </strong> {{ abastecimento.litros_abastecidos }}</p>
                <p><strong>Valor total: R$</strong>{{ abastecimento.valor}} reais</p>
                <p><strong>Data de criação: </strong>{{ abastecimento.criado }}</p>
                <hr>
                <div class="form__actions">
                    <a href="{% url 'atualizar_abastecimento' abastecimento.pk %}"><button type="button" class="form__button form__button__enviar">Atualizar</button></a>
                    <a href="{% url 'deletar_abastecimento' abastecimento.pk %}" class="form__button form__button__deletar">Deletar</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>Ainda não há registros no sistema</h2>
    {% endif %}
{% endblock %}j