{% extends 'abastecimento/base.html' %}
{% load static %}

{% block main %}
<h2 class="form__titulo">Cadastro de Bomba</h2>

<form method="POST" class="form">
    {% csrf_token %}

    <div class="form__group">
        <label for="id_nome_bomba" class="form__label">Nome da Bomba</label>
        <select class="form__select" name="bomba" id="id_bomba" required>
            <option value="" {% if abastecimeto.bomba.nome_bomba == "" %}selected{% endif %}>------------</option>
            {% for bomba in bombas %}
                <option value="{{ bomba.id }}" {% if bomba.id == abastecimento.bomba.id %}selected{% endif %}>{{ bomba.nome_bomba }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form__group">
        <label for="id_abastecimento" class="form__label">Litros abastecido</label>
        <input class="form__input" type="number" name="litros_abastecidos" required id="id_litros_abastecidos" value="{{ abastecimento.bomba.nome_bomba }}">
    </div>
    <div class="form__group">
        <label for="id_valor">Valor do abastecimento R$</label>
        <input class="form__input" type="number" name="valor" id="id_valor" required valur="{{ abastecimento.valor }}">
    </div>

    <div class="form__actions">
        <button class="form__button form__button__enviar" type="submit">Cadastrar</button>
        <a href="{% url 'index' %}" class="form__button form__button__voltar">Voltar</a>
    </div>
</form>
{% endblock %}
