{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Home</title>{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <header>Cabeçalho</header>
    <div class="container">
        <aside class="menu-lateral">
            <nav class="menu-navegacao">
                <h3>Menu</h3>
                <ul class="menu-navegacao-lista">
                    <li class="menu-navegacao-lista-item">
                        <button type="button" class="menu-alternativo">Cadastros</button>
                        <ul class="submenu-lista">
                            <button type="button" class="menu-alternativo" >Tanque</button>
                            <ul class="submenu-lista">
                                <li><a href="{% url 'criar_tanque' %}">Cadastrar Tanque</a></li>
                                <li><a href="{% url 'listagem_tanque' %}">Listagem Tanque</a></li>
                            </ul>
                            <button type="button" class="menu-alternativo">Bomba</button>
                            <ul class="submenu-lista">
                                <li><a href="{% url 'criar_bomba' %}">Cadastrar Bomba</a></li>
                                <li><a href="{% url 'listagem_bomba' %}">Listagem Bomba</a></li>
                            </ul>
                        </ul>
                    </li>
                    <li class="menu-navegacao-lista-item">
                        <button type="button" class="menu-alternativo">Abastecimentos</button>
                        <ul class="submenu-lista">
                            <li><a href="#">Listagem de Abastecimentos</a></li>
                            <li><a href="#">Cadastar Abastecimento</a></li>
                        </ul>
                    </li>
                    <li class="menu-navegacao-lista-item">
                        <button type="button" class="menu-alternativo">Relatórios</button>
                        <ul class="submenu-lista">
                            <li>
                                <button type="button" class="menu-alternativo" >Abastecimentos</button>
                                <ul class="submenu-lista">
                                    <li><a href="#">visualizar abastecimentos</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            {% block main %}
        
            {% endblock %}
        </main>

    </div>
    <footer>Rodapé</footer>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>