{% extends 'abastecimento/base.html' %}



{% block main %}
    <nav>
        <form method="get" style="display: flex; margin: 20px 20px 20px 0px; flex-direction: row; gap: 20px;">
            <input style="padding: 8px;" type="text" placeholder="pesquisar..." name="q" value="{{ request.GET.q }}">
            <div>
                <label for="data_inicio">De:</label>
                <input style="padding: 8px;" type="date" name="data_inicio" value="{{ request.GET.data_inicio }}">
            </div>
            <div>
                <label for="data_fim">Até:</label>
                <input style="padding: 8px;" type="date" name="data_fim" value="{{ request.GET.data_fim }}">
            </div>
            <button style="padding: 8px;" type="submit">🔍 Filtrar</button>
        </form>
    </nav>
    {% if tanques %}
        {% for tanque in tanques %}

            <div style="display: flex; flex-direction: column; gap: 10px; margin-bottom: 40px;">
                <p><strong>Tanque: </strong> {{ tanque.tipo_combustivel }}</p>
                <p><strong>Tipo de combustível: </strong> {{ tanque.quantidade }}L</p>
                <p><strong>Data de registro: </strong>{{ tanque.criado }}</p>
                <hr>
                <div class="form__actions">
                    <a href="{% url 'atualizar_tanque' tanque.pk %}"><button type="button" class="form__button form__button__enviar">Atualizar</button></a>
                    <a href="{% url 'deletar_tanque' tanque.pk %}" class="form__button form__button__deletar">Deletar</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>Ainda não há registros no sistema</h2>
    {% endif %}
{% endblock %}j