{% extends 'base.html' %}

{% load static %}


{% block main %}

    <form method="POST" action="{% url 'cadastros:funcionarios:cadastrar' %}" class="form">
        {% csrf_token %}

        <div class="form__group">
            {{ form.nome_funcionario.label_tag }} {{ form.nome_funcionario }}
        </div>

        <div class="form__group">
            {{ form.email.label_tag }} {{ form.email }}
        </div>


        <div class="form__group">
            {{ form.setor.label_tag }} {{ form.setor }}
        </div>

        <div class="form__group">
            {{ form.cargo.label_tag }} {{ form.cargo }}
        </div>

        <div class="form__group">
            {{ form.grupo.label_tag }} {{ form.grupo }}
        </div>

        <div class="form__group">
            {{ form.password1.label_tag }} {{ form.password1 }}
        </div>

        <div class="form__group">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>

        <div class="form__actions">
            <button class="form__button form__button__enviar" type="submit">Cadastrar</button>
        </div>
    </form>


{% endblock %}