{% extends 'home_template/pages/base.html' %}

{% load static %}

{% block title %} Funcionários {% endblock %}
    
{% block head %}
    <link rel="stylesheet" href="{% static 'funcionarios/css/lista_funcionarios.css' %}">

{% endblock  %}


{% block main %}
    <div class="campo-pagina-bomba">
        <h2 class="titulo-bomba-listagem">Listagem de Funcionários</h2>

        {% include 'home_template/partials/messages.html' %}

            
        <nav class="nav-pesquisa">
            <form method="GET" class="form">

                <div>
                    <input type="text" class="form-input" placeholder="Pesquisar..." name="q">
                </div>
                <div class="espaco-datas">
                    <input type="date" name="data_inicio" class="form-data">
                    <input type="date" name="data_fim" class="form-data">
                </div>
                <button type="submit" class="button-pesquisa">
                    🔍
                </button>
            </form>

            <div class="acoes-buttons">

                <a 
                    class="novo-registro" 
                    href="{% url 'cadastros:funcionarios:cadastrar' %}?next={{ request.get_full_path }}"
            
                >
                    Novo registro
                </a>

            </div>


        </nav>


        {% if page_obj %}
            <div class="lista-bomba">
                {% for funcionario in page_obj %}
                    <table class="tabela-bomba">
                        <tbody class="tabela-body">
                            <tr>
                                <th>Funcionário</th>
                                <td>
                                    {{ funcionario.nome_funcionario }}
                                </td>
                            </tr>
                            <tr>
                                <th>Cargo</th>
                                {% if funcionario.cargo %}
                                    <td>
                                        {{ funcionario.cargo }}
                                    </td>
                                {% else %}
                                    <td>
                                       Não há cargo registrado
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Setor</th>
                                {% if funcionario.setor %}
                                    <td>
                                        {{ funcionario.setor }}
                                    </td>
                                {% else %}
                                    <td>
                                       Não há setor registrado
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Situação</th>
                                <td>
                                    {% if funcionario.ativo %}
                                        <p class="status status-ativo">Ativo 🟢</p>
                                    {% else %}
                                        <p class="status status-desativado">Desativado 🔴</p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Ações</th>
                                <td class="acoes-buttons">
                                    <a a href="{% url 'cadastros:funcionarios:atualizar' funcionario.pk %}?next={{ request.get_full_path }}" class="btn atualizar">
                                        Editar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>

            <div class="paginacao">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">«</a>
                {% endif %}

                <span>
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">»</a>
                {% endif %}
            </div>

        {% else %}
            <h2>Não há registros de Bombas</h2>
        {% endif %}


    </div>
{% endblock %}