{% extends 'base.html' %}


{% block main %}

    <form method="POST" action="{% url 'autenticacao:login' %}" class="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form__group">
                <label for="{{ form.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}

        <div class="form__actions">
            <button class="form__button form__button__enviar" type="submit">Entrar</button>
            <a href="{% url 'home:index' %}" class="form__button form__button__voltar">Voltar</a>
        </div>
    </form>

{% endblock %}