* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  min-height: calc(100vh - 100px); /* 100px é header + footer */
  background-color: #f5f5f5;
}

header, footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
}


/* aside */
.menu-lateral{
    width: 270px;
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px;
}


/* título do menu lateral */
.menu-navegacao h3{
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 15px;
}



.menu-navegacao-lista{
    list-style: none;
}

.menu-navegacao-lista-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
}

.menu-alternativo{
    color: #ffffff;
    background-color: #2c3e50;
    border-radius: 5px;
    /* border: 2px solid #ffffff; */
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    display: block;
}

.menu-alternativo:hover{
  background-color: #3d566e;
}

.submenu-lista{
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-left: 2px solid #7f8c8d;
}

.submenu-lista li{
    margin: 6px;
}


.submenu-lista a{
    color: #bdc3c7;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 4px;
}

.submenu-lista a:hover{
    background-color: #2c3e50;
    color: #ecf0f1;
}


main{
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.messages li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}