{% extends 'base.html' %}
{% load static %}

{% block main %}

    <h2 class="form__titulo">Atualizar Bomba</h2>

    <form method="POST" class="form" action="{% url 'cadastros:bombas:atualizar' bomba.pk %}">
        {% csrf_token %}

        {% for field in form %}
            <div 
                class="form__group">
                {% if field.name == 'tanque' %}
                    <label 
                        for="{{ field.id_for_label }}"
                    >
                        {{ field.label }}
                    </label>
                    <select 
                        name="{{ field.html_name }}" 
                        id="{{ field.id_for_label }}" 
                        class="form__input"
                    >
                        <option 
                            value=""
                        >
                            ---------
                        </option>
                        {% for tanque in form.fields.tanque.queryset %}
                            <option 
                                value="{{ tanque.pk }}" 
                                data-combustivel="{{ tanque.tipo_combustivel.nome_combustivel }}"
                                {% if field.value == tanque.pk %}
                                selected
                                {% endif %}
                                >
                                {{ tanque }}
                            </option>
                        {% endfor %}
                    </select>
                    <p 
                        id="id_info_combustivel" 
                        class="form__info"
                    >
                    </p>

                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor%}
                    {% endif %}
                {% else %}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}

        <div 
            class="form__actions">
            <button 
                class="form__button form__button__enviar" 
                type="submit"
            >
                Atualizar
            </button>
            <a 
                href="{% url 'cadastros:bombas:listar' %}" 
                class="form__button form__button__voltar"    
            >
                Voltar
            </a>
        </div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const selectTanque = document.getElementById('id_tanque');
        const infoCombustivel = document.getElementById('id_info_combustivel');

        function atualizarInfoCombustivel() {
        const combustivel = selectTanque.options[selectTanque.selectedIndex].dataset.combustivel;
        infoCombustivel.textContent = combustivel ? `Tipo de combustível: ${combustivel}` : '';
        }

        selectTanque.addEventListener('change', atualizarInfoCombustivel);

        // Atualiza ao carregar a página (caso já tenha um tanque selecionado)
        atualizarInfoCombustivel();
        });
    </script>
{% endblock %}