{% extends 'base.html' %}
{% load static %}

{% block main %}
    
    <h2 
        class="form__titulo"
    >
        Cadastro de Bomba
    </h2>

    <form method="POST" class="form">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form__group">
                <label for="{{field.id_for_label}}">
                    {{ field.label }}
                </label>
                {{ field }}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <div class="form__actions">
            <button 
                class="form__button form__button__enviar" 
                type="submit"
            >
                Cadastrar
            </button>
            <a 
                href="{% url 'cadastros:bombas:listar' %}" 
                class="form__button form__button__voltar"
            >
                Voltar
            </a>
        </div>
    </form>
    
{% endblock %}
