{% extends 'home_template/pages/base.html' %}
{% load static %}

{% block title %} Bombas {% endblock %}
    
{% block head %}
    <link rel="stylesheet" href="{% static 'bombas/css/lista_bombas.css' %}">
{% endblock  %}

{% block main %}
    <div class="campo-pagina">

        <div style="display: flex; flex-direction: column; margin: 10px; gap: 20px;">
            <div>
                <h2 style="margin-top: 18px;">Bombas</h2>
            </div>
        </div>

        {% include 'home_template/partials/messages.html' %}

        <nav class="nav-pesquisa">
            <form method="GET" class="form">
                <input type="text" class="form-input" placeholder="Pesquisar..." name="q">

                <button type="submit" class="button-pesquisa">
                    🔍
                </button>
                <div class="espaco-datas">
                    <input type="date" name="data_inicio" class="form-data">
                    <input type="date" name="data_fim" class="form-data">
                </div>
            </form>

            <div class="acoes-buttons">
                <button type="button" onclick="abrirModal('modalCadastro')" class="novo-registro">
                    Novo registro
                </button>
            </div>
        </nav>

        {% if page_obj %}
            <div class="lista">
                <table class="tabela">
                    <thead class="tabela-cabecalho">
                        <tr>
                            <th>Identificador</th>
                            <th>Tanque</th>
                            <th>Situação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    {% for bomba in page_obj %}
                        <tbody class="tabela-body">
                            <tr>
                                <td data-label="Identificador">{{ bomba.nome_bomba }}</td>
                                <td data-label="Tanque">
                                    {% if bomba.tanque %}
                                        {{ bomba.tanque.identificador_tanque }}
                                    {% else %}
                                        Não há tanque relacionado
                                    {% endif %}
                                </td>
                                <td data-label="Situação">
                                    {% if bomba.ativo %}
                                        <p class="status status-ativo">Ativo 🟢</p>
                                    {% else %}
                                        <p class="status status-desativado">Desativado 🔴</p>
                                    {% endif %}
                                </td>
                                <td data-label="Ações" class="acoes-buttons">
                                    <button 
                                        type="button" 
                                        class="btn atualizar"
                                        onclick="abrirModal('modalEditar{{ bomba.id }}')"
                                    >
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                        <div id="modalEditar{{ bomba.id }}" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="fecharModal('modalEditar{{ bomba.id }}')">&times;</span>
                                <h2>Editar Bomba</h2>
                                <form method="POST" action="{% url 'cadastros:bombas:atualizar' bomba.id %}">
                                    {% csrf_token %}
                                    <div class="modal-form-grid">
                                        {% for field in bomba.form_edicao %}
                                            <div class="form-group">
                                                {{ field.label_tag }}
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button type="submit">Salvar Alterações</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </table>
            </div>

            <div class="paginacao">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">«</a>
                {% endif %}

                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">»</a>
                {% endif %}
            </div>

        {% else %}
            <h2>Não há registros de Bombas</h2>
        {% endif %}

    </div>
    {% block modal %}
        {% url 'cadastros:bombas:cadastrar' as cadastrar_url %}
        {% include 'home_template/partials/modal.html' with modal_id="modalCadastro" titulo="Novo Registro" action_url=cadastrar_url form=form botao_texto="Salvar" %}
            

    {% endblock modal %}


{% endblock %}
