{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Home</title>{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/detalhe.css' %}">

</head>
<body>
    <header>
        <div>
            <a style="text-decoration: none; color: #ffffff; font-size: 22px;" href="{% url 'home:index' %}">Sistema de Gestão de Abastecimento</a></header>
        </div>
    <div class="container">
        <aside class="menu-lateral">
            <nav class="menu-navegacao">
                <h3>Menu</h3>
                <ul class="menu-navegacao-lista">
                    <li class="menu-navegacao-lista-item">
                        <button type="button" class="menu-alternativo">Autenticação</button>
                        <ul class="submenu-lista">
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'autenticacao:logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'autenticacao:login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if request.user.is_staff %}
                        <li class="menu-navegacao-lista-item">
                            <button type="button" class="menu-alternativo">Cadastros</button>
                            <ul class="submenu-lista">
                                <button type="button" class="menu-alternativo" >Tanque</button>
                                <ul class="submenu-lista">
                                    <li><a href="{% url 'cadastros:tanques:cadastrar'%}">Cadastrar Tanque</a></li>
                                    <li><a href="{% url 'cadastros:tanques:listar' %}">Listagem Tanque</a></li>
                                </ul>
                                <button type="button" class="menu-alternativo">Bomba</button>
                                <ul class="submenu-lista">
                                    <li><a href="{% url 'cadastros:bombas:cadastrar' %}">Cadastrar Bomba</a></li>
                                    <li><a href="{% url 'cadastros:bombas:listar' %}">Listagem Bomba</a></li>
                                </ul>
                                
                                <button type="button" class="menu-alternativo">Funcionários</button>
                                <ul class="submenu-lista">
                                    <li><a href="{% url 'cadastros:funcionarios:cadastrar' %}">Cadastro de funcionários</a></li>
                                    <li><a href="{% url 'cadastros:funcionarios:listar' %}">Listagem de funcionários</a></li>
                                </ul>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="menu-navegacao-lista-item">
                        <button type="button" class="menu-alternativo">Abastecimentos</button>
                        <ul class="submenu-lista">
                            <li><a href="{% url 'cadastros:abastecimento:cadastrar' %}">Cadastar Abastecimento</a></li>
                            <li><a href="{% url 'cadastros:abastecimento:listar' %}">Listagem de Abastecimentos</a></li>
                        </ul>
                    </li>
                    <li class="menu-navegacao-lista-item">
                        <button type="button" class="menu-alternativo">Relatórios</button>
                        <ul class="submenu-lista">
                            <li>
                                <button type="button" class="menu-alternativo" >Abastecimentos</button>
                                <ul class="submenu-lista">
                                    <li><a href="#">Visualizar Relatório</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>

        <main>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if request.user.is_authenticated %}
                <h2>Seja Bem-Vindo(a), {{ user.username }}!</h2>
            {% else %}
                <h2>Seja Bem-Vindo(a)!</h2>
            {% endif %}
            {% block main %}
            {% endblock %}
        </main>
    </div>

    <footer>Feito por Erick Almeida</footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'bombas/js/info_tanque.js' %}" defer></script>
</body>
</html>