{% extends 'base.html' %}
{% load static %}



{% block main %}

<form method="POST" style="gap: 20px;" class="form">
    {% csrf_token %}

    <P style="margin-top: 20px;">Deseja apagar esse registro Abastecimento?</P>
    <div style="margin-top: 10px;" class="form__actions">
        <button class="form__button form__button__deletar" type="submit">Deletar</button>
        <a href="{% url 'cadastros:abastecimento:listar' %}" class="form__button form__button__voltar">Cancelar</a>
    </div>
</form>
{% endblock %}