{% extends 'home_template/pages/base.html' %}
{% load static %}

{% block title %}
Deletar Registro
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'abastecimento/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'abastecimento/css/lista_abastecimento.css' %}">

{% endblock %}


{% block main %}

<form method="POST" style="gap: 20px;" class="form">
    {% csrf_token %}

    <h2 class="form-titulo">Deseja apagar esse registro Abastecimento?</h2>
    <table class="tabela">
        <tbody class="tabela-body">
            <tr>
                <th>Responsável</th>
                <td>{{ abastecimento.funcionario.username }}</td>
            </tr>
            <tr>
                <th>Tanque</th>
                {% if abastecimento.tanque %}
                <td>
                    {{ abastecimento.tanque.identificador_tanque }}
                </td>
                {% else %}
                <td>
                    Não há cargo registrado
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Bomba</th>
                {% if abastecimento.bomba %}
                <td>
                    {{ abastecimento.bomba.nome_bomba }}
                </td>
                {% else %}
                <td>
                    Não há bomba registrada
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Tipo</th>
                {% if abastecimento.tanque %}
                <td>
                    {{ abastecimento.tanque.tipo_combustivel }}
                </td>
                {% else %}
                <td>
                    Não há tipo de combustível registrado
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Consumida L</th>
                <td>
                    {{ abastecimento.litros_abastecido }}
                </td>
            </tr>
            <tr>
                <th>Valor total R$</th>
                <td>
                    {{ abastecimento.valor_total_abastecimento }}
                </td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name='next' value="{{ request.GET.next }}">

    <div class="form-action-deletar">
        <button class="btn deletar" type="submit">
            Deletar
        </button>
        <a href="{{ request.GET.next|default:request.META.HTTP_REFERER }}" class="btn cancelar">
            Cancelar
        </a>
    </div>
</form>
{% endblock %}