{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>  {% block title %}Home{% endblock %}  </title>

    <link rel="stylesheet" href="{% static 'gerenciamento_abastecimento/css/base.css' %}">

    {% block head %}{% endblock  %}

</head>
<body>
    
    <button id="hamburguer-btn">☰</button>
    <div class="layout">
        
        {% include 'home_template/partials/asidebar.html' %}
        
        <div class="container">
            {% include 'home_template/partials/header.html' %}
            
            <main class="main">
    
                {% block main %}
    
                {% endblock %}
            </main>
            {% include 'home_template/partials/footer.html' %}
        
        </div>

    </div>
    <script src="{% static 'gerenciamento_abastecimento/js/script.js' %}"></script>
    {% block script %}{% endblock  %}
</body>
</html>