{% extends 'home_template/pages/base.html' %}
{% load static %}

{% block title %} Relátios {% endblock  %}

{% block head %}
    <link rel="stylesheet" href="{% static 'gerenciamento_abastecimento/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'relatorios/css/lista.css' %}">

    <style>
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
            page-break-inside: auto;
        }

        thead {
            background-color: #2c3e50;
            color: white;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 6px 18px;
            text-align: center;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tfoot td {
            font-weight: bold;
            background-color: #f1f1f1;
        }


        @media (max-width: 760px) {
            table {
                display: flex;
                flex-direction: column;
            }

            thead {
                display: flex;
                flex-direction: column;
            }

            tbody{
                display: flex;
                flex-direction: column;
            }
        }
    </style>

{% endblock  %}



{% block main %}

    <div class="campo-pagina">
        <h2 class="titulo-listagem">Abastecimentos</h2>

        <nav class="nav-pesquisa">
            <form method="GET" class="form">

                <div class="filtros-primarios">
                    <input 
                        type="text" 
                        class="form-input" 
                        placeholder="Pesquisar..." 
                        name="q"
                        value="{{ request.GET.q }}"
                    >

                    <input 
                        type="date"
                        name="data_inicio"
                        class="form-data"
                        value="{{ request.GET.data_inicio }}"
                    >
                    <input 
                        type="date"
                        name="data_fim"
                        class="form-data"
                        value="{{ request.GET.data_fim }}"
                    >
                </div>
                <div class="filtros-secundarios">
                    <select name="funcionario" id="funcionario" class="form-select">
                        <option value="">Funcionários</option>
                        
                        {% for funcionario in funcionarios %}
                            <option 
                                value="{{ funcionario.id }}"
                                {% if request.GET.funcionario == funcionario.id|stringformat:"s" %}
                                    selected
                                {% endif %}
                            >
                                {{ funcionario.nome_funcionario }}
                            </option>
                        {% endfor %}
                            
                    </select>
                    <select name="tipo_combustivel" id="tipo_combustivel" class="form-select">
                        <option value="">Combustíveis</option>
                        {% for tipo in tipos_combustivel %}
                            <option 
                                value="{{ tipo.id}}"
                                {% if request.GET.tipo_combustivel == tipo.id|stringformat:"s" %}
                                    selected
                                {% endif %}
                            >
                                {{tipo.nome_combustivel}}
                            </option>
                        {% endfor %}
                            
                    </select>
                    <select name="forma_pagamento" id="forma_pagamento" class="form-select">
                        <option value="">
                            Formas de pagamento
                        </option>
                    </select>
                </div>
                <button type="submit" class="button-pesquisa">
                    🔍
                </button>
                
            </form>
            
            <a 
                class="opcao-pdf"
                href="{% url 'relatorios:relatorio_abastecimento_detalhes_pdf' %}?{{ request.GET.urlencode }}"
                >
                BAIXAR RELATÓRIO
            </a>
        </nav>



        {% if registros %}
            
            <table class="tabela">
                <div class="opcoes-impressao">          
                </div>

                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Responsável</th>
                        <th>Litros</th>
                        <th>Combustível</th>
                        <th>Valor</th>
                        <th>Forma de pagamento</th>
                    </tr>
                </thead>
                {% for abastecimento in registros %}
                    <tbody>
                        <tr>
                            <td>{{ abastecimento.criado }}</td>
                            <td>
                                {% if abastecimento.funcionario %}
                                    {{ abastecimento.funcionario }}
                                {% else %}
                                    {{ abastecimento.empresa }}
                                {% endif %}
                            </td>
                            <td>{{ abastecimento.tanque.tipo_combustivel }}</td>
                            <td>{{ abastecimento.litros_abastecido }}</td>
                            <td>{{ abastecimento.valor_total_abastecimento }}</td>
                            <td>{{ abastecimento.get_forma_pagamento_display }}</td>
                        </tr>
                    </tbody>
                    
                {% endfor %}
            </table>

        {% endif %}

        <p><strong>Total de litros:</strong> {{ total_litros }}</p>
        <p><strong>Total em reais:</strong> R$ {{ total_valor|floatformat:2 }}</p>

    </div>
{% endblock  %}