{% load static %}
    <aside class="asidebar">
        <nav class="navegacao">
            <h3 class="titulo-menu">Menu</h3>
            <ul class="navegacao-lista-menu">
                <li>
                    <a 
                        href="{% url 'home:index' %}">
                        Início
                    </a>
                </li>

                <li>
                    <a
                        class="button"
                    > 
                        cadastros 
                    </a>
                    <ul class="submenu">
                        <li>
                            <a
                                href="{% url 'cadastros:tanques:listar' %}"
                            >
                                Tanque
                            </a>
                            <a  
                                href="{% url 'cadastros:bombas:listar' %}"
                            >
                                Bomba
                            </a>
                            <a  
                                href=""
                            >
                                Setor
                            </a>
                            <a 
                                href=""
                            >
                                Cargo
                            </a>
                            <a 
                                href="{% url 'cadastros:tanques:listar_combustivel' %}"
                            >
                                Combustivel
                            </a>
                            <a 
                                href="{% url 'cadastros:funcionarios:listar' %}"
                            >
                                Funcionários
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a
                        class="button"
                    > 
                        Serviços 
                    </a>
                    <ul class="submenu">
                        <li>
                            <a 
                                href="{% url 'servicos:abastecimento:listar' %}"
                            >
                                Saída de Combustível
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{% url 'servicos:abastecimento:listar_reabastecimento' %}"
                            >
                                Entrada de combustível
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a
                        class="button"
                    >
                        Relatórios
                    </a>
                    <ul class="submenu">
                        <li>
                            <a 
                                href="{% url 'relatorios:listar' %}">
                                Abastecimento veicular
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>