{% load static %}
    <aside class="asidebar">
        <nav class="navegacao">

            <ul class="navegacao-lista-menu">
                <li
                    style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1rem;
                    "
                >
                    <div
                        style="
                            background-color: #385572; 
                            width: 50%;
                            border-radius: 1rem;
                            padding: 0.5rem;
                        "
                    >
                        <div style=" display:flex; align-items: center; justify-content: center; margin-top: 10px;">
                            <img style="width: 65px" src="{% static 'gerenciamento_abastecimento/icons/logo_empresa.png' %}" alt="">
                        </div>

                        <h2 
                            style="text-align: center; 
                            padding: 0px 0px; 
                            font-size: 18px; 
                            "
                        >
                            <span style="color: black">+</span>
                            <span style="color: rgb(255, 176, 31);">Posto</span>
                        </h2>
                    </div>
                </li>

                <li>
                    <a 
                        href="{% url 'dashboard:dashboard' %}">
                        Painel de controle
                    </a>
                </li>

                {% if request.user.is_empresa %}

                <li>
                    <a
                        class="button"
                    > 
                        <i class="fa-solid fa-address-card"></i>
                        Cadastros 
                    </a>
                    <ul class="submenu">
                        <li>
                            <a
                                href="{% url 'cadastros:tanques:listar' %}"
                            >
                                <i class="fa-solid fa-oil-can"></i>
                                Tanques
                            </a>
                            <a  
                                href="{% url 'cadastros:bombas:listar' %}"
                            >
                                <i class="fa-solid fa-gas-pump"></i>
                                Bombas
                            </a>
                            <a 
                                href="{% url 'cadastros:tanques:listar_combustivel' %}"
                            >
                                <i class="fa-solid fa-droplet"></i>
                                Combustíveis
                            </a>
                            <a 
                                href="{% url 'cadastros:fornecedores:listar' %}"
                            >
                                <i class="fa-solid fa-handshake"></i>
                                Fornecedores
                            </a>
                            <a 
                                href="{% url 'cadastros:funcionarios:listar' %}"
                            >
                                <i class="fa-solid fa-user-tie"></i> 
                                Funcionários
                            </a>                            
                            <a 
                                href="{% url 'cadastros:empresas:listar_setor' %}"
                            >
                                <i class="fa-solid fa-diagram-project"></i>
                                Setores
                            </a>
                            <a 
                                href="{% url 'cadastros:empresas:listar_cargo' %}"
                            >
                                <i class="fa-solid fa-briefcase"></i> 
                                Cargos
                            </a>
                                                        
                        </li>
                    </ul>
                </li>
            {% endif %}
                <li>
                    <a
                        class="button"
                    > 
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        Serviços 
                    </a>
                    <ul class="submenu">
                        <li>
                            <a 
                                href="{% url 'servicos:abastecimento:listar' %}"
                            >
                                <i class="fa-solid fa-gas-pump"></i>
                                Abastecimentos
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{% url 'servicos:abastecimento:listar_reabastecimento' %}"
                            >
                                <i class="fa-solid fa-gas-pump"></i>
                                Reabastecimentos
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a
                        class="button"
                    >
                        <i class="fa-solid fa-chart-line"></i> 
                        Relatórios
                    </a>
                    <ul class="submenu">
                        <li>
                            <a 
                                href="{% url 'relatorios:relatorios_abastecimentos' %}">
                                <i class="fa-solid fa-file-export"></i>
                                Abastecimentos
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{% url 'relatorios:relatorios_reabastecimentos' %}">
                                <i class="fa-solid fa-file-export"></i>
                                Reabastecimentos
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>