{% load static %}
    <header class="header">

        <div>
            <button id="hamburguer-btn">☰</button>
        </div>

        <div>
            <a 
                href="{% url 'home:index' %}"
            >
                
                <h2
                >
                   {{ request.user.empresa }}
                </h2>

            </a>
        </div>

        <div class="header-campos-acoes">
            <a
                href="{% url 'autenticacao:logout' %}"
            >
                 <i class="fa-solid fa-right-from-bracket"></i>                            
            </a>

            {% if request.user.is_empresa %}
                    <a 
                        href="{% url 'cadastros:empresas:perfil' %}"
                    >
                        <i class="fa-solid fa-id-card-clip"></i>
                        
                    </a>

            {% endif %}
        </div>  
    </header>