{% extends 'base.html' %}




{% block main %}

    <form action="" method="POST" class="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form__group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    {% for erro in field.errors %}
                        {{ erro }}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <div class="form__actions">
            <button class="form__button form__button__enviar" type="submit">Cadastrar</button>
            <a href="{% url 'home:index' %}" class="form__button form__button__voltar">Voltar</a>
        </div>
    </form>

{% endblock %}