{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'gerenciamento_abastecimento/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'empresas/css/forms.css' %}">

    <title>Cadastro</title>
</head>
<body>
    <div class="form-espaco">

        <form action="{% url 'cadastros:empresas:cadastrar' %}" method="POST" class="form">
            <h2 class="form-titulo"> 
                Cadastro de Empresa 
            </h2>
            
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-errors">
                    {% for erro in form.non_field_errors %}
                        <p class="error">{{ erro }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.errors %}
                        {% for erro in field.errors %}
                            <span class="error">{{ erro }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="form-actions">
                <button 
                    class="btn cadastrar" 
                    type="submit"
                >
                    Cadastrar
                </button>
                <a 
                    href="{% url 'autenticacao:login_empresa' %}" 
                    class="btn login"
                    role="button"
                >
                    Login
                </a>
            </div>
        </form>
        
        {% include 'home_template/partials/footer.html' %}
    </div>
</body>
</html>
