{% extends 'home_template/pages/base.html' %}

{% load static %}


{% block title %} Deletar conta{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'empresas/css/forms.css' %}">
{% endblock head %}
    


{% block main %}
    <div class="form-espaco">

        <form method="POST" action="{% url 'cadastros:empresas:inativar' usuario.pk %}" class="form">
            {% csrf_token %}
    
            <h2 
                class="form-titulo"
    
            >
                Deseja apagar a sua conta?
            </h2>
            
            <div
                class="form-action-deletar"
            >
                <button 
                    class=" btn deletar " 
                    type="submit"
                >
                    Deletar
                </button>
                <a 
                    href="{% url 'home:index' %}"
                    class=" btn cancelar"
                >
                    Cancelar
                </a>
            </div>
        </form>
    </div>

{% endblock %}