{% extends 'home_template/pages/base.html' %}
{% load static %}

{% block title %} Dados da empresa {% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'empresas/css/forms.css' %}">
{% endblock head %}
    

{% block main %}

    <div class="form-espaco">

        <h2 class="form-titulo">Detalhes da empresa</h2>

        {% include 'home_template/partials/messages.html' %}
        <form method="POST" action="{% url 'cadastros:empresas:perfil' %}" class="form">

    
            {% csrf_token %}
    
                {% for field in form %}
                    <div 
                        class="form-group">
                        <label 
                            for="{{ field.id_for_label }}" 
                        >
                            {{ field.label }}
                        </label>
                        {{ field }}
        
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="messages-error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                
                <div class="form-actions">
                    <button 
                        class="btn atualizar" 
                        type="submit"
                        >
                            Atualizar
                        </button>
                    <a 
                        href="{% url 'home:index' %}" 
                        class="btn cancelar"
                    >
                        Cancelar
                    </a>
                </div>
                <div class="campo-botao-perfil-desativar">
                    <a 
                        href="{% url 'cadastros:empresas:inativar' user.pk %}" 
                        class="perfil-botao-deletar"
                    >
                        deletar conta
                    </a>
                </div>
        </form>
    </div>

{% endblock %}