.titulo {
    font-size: 28px;
    color: #2c3e50;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabela-detalhes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-cabecalho {
    background-color: #2c3e50;
    color: white;
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
}

.tabela-celula {
    padding: 12px 15px;
    border: 1px solid #bdc3c7;
    text-align: left;
}

.tabela-detalhes tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.tabela-detalhes tbody tr:hover {
    background-color: #dfe6e9;
}

.total-abastecimento {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    color: #2c3e50;
}

.total-abastecimento span {
    font-weight: bold;
    color: #27ae60;
}

.perfil-botao-deletar{
    text-decoration: none;
    font-size: 1rem;
    color: #ff0000;
    font-weight: bold;
    cursor: pointer;
}


.perfil-botao-deletar:hover{
    text-decoration: underline;
}