{% extends 'home_template/pages/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'tanques/css/forms.css' %}">
{% endblock %}
    

{% block main %}

    <div 
        class="form-espaco-tanque"
    >
        <h2 
            class="form-titulo"
        >
            Cadastro de Combustível
        </h2>

        {% include 'home_template/partials/messages.html' %}

        
        <form method="POST" class="form">
            {% csrf_token %}
        
            {% for field in form %}
                <div 
                    class="form-group"
                >
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="messages-error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            <hr>
            
            <div 
                class="form-actions"
            >
                <button 
                    class="btn cadastrar" 
                    type="submit"
                >
                    Cadastrar
                </button>
                <a 
                    href="{{ request.GET.next|default:request.META.HTTP_REFERER }}" class=" btn cancelar"
                >
                    Cancelar
                </a>
            </div>
        </form>

    </div>
{% endblock %}
