{% extends 'home_template/pages/base.html' %}
{% load static %}


{% block title %} Tanques {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'tanques/css/lista_tanque.css' %}">
{% endblock %}


{% block main %}

    <div class="campo-pagina-lista">
        <h2 class="titulo-tanque-listagem">Listagem de Combustível</h2>

        {% include 'home_template/partials/messages.html' %}

            
        <nav class="nav-pesquisa">
            <form method="GET" class="form">

                <div>
                    <input type="text" class="form-input" placeholder="Pesquisar..." name="q">
                </div>
                <div class="espaco-datas">
                    <input type="date" name="data_inicio" class="form-data">
                    <input type="date" name="data_fim" class="form-data">
                </div>
                <button type="submit" class="button-pesquisa">
                    🔍
                </button>
            </form>

            <a 
                class="novo-registro" 
                href="{% url 'cadastros:tanques:cadastrar_combustivel' %}?next={{ request.get_full_path }}"
            
            >
                Novo registro
            </a>
        </nav>


        {% if page_obj %}
            <div class="lista-tanque">
                {% for combustivel in page_obj %}
                    <table class="tabela-tanque">
                        <tbody class="tabela-body">
                            <tr>
                                <th> Combustível</th>
                                <td>
                                    {{ combustivel.nome_combustivel }}
                                </td>
                            </tr>
                            <tr>
                                <th>Valor base R$</th>
                                <td>
                                    {{ combustivel.valor_base }}
                                </td>
                            </tr>
                            <tr>
                                <th>Imposto %</th>
                                <td>
                                    {{ combustivel.imposto }}
                                </td>
                            </tr>
                            <tr>
                                <th>Valor total R$</th>
                                <td>
                                    {{ combustivel.valor_total }}
                                </td>
                            </tr>
                            <tr>
                                <th>Ações</th>
                                <td class="acoes-buttons">
                                    <a 
                                        a href="{% url 'cadastros:tanques:atualizar_combustivel' combustivel.pk %}" 
                                        class="btn atualizar"
                                    >
                                        Editar
                                    </a>
                                    <a 
                                        href="{% url 'cadastros:tanques:deletar_combustivel' combustivel.pk %}"
                                        class="btn deletar"
                                    >
                                        Deletar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>

            <div class="paginacao">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">«</a>
                {% endif %}

                <span>
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">»</a>
                {% endif %}
            </div>

        {% else %}
            <h2>Não há registros de Combutiveis</h2>
        {% endif %}


    </div>
{% endblock %}