{% extends 'home_template/pages/base.html' %}
{% load static %}

{% block title %} Tanques {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'tanques/css/lista_tanque.css' %}">
{% endblock %}

{% block main %}
<div class="campo-pagina-lista">

    <div style="display: flex; flex-direction: column; margin: 10px; gap: 20px;">
        <h2 style="margin-top: 18px;" class="titulo-pagina">Combustíveis</h2>
    </div>

    {% include 'home_template/partials/messages.html' %}

    <!-- BARRA DE PESQUISA E NOVO REGISTRO -->
    <nav class="nav-pesquisa">
        <form method="GET" class="form">
            <input type="text" class="form-input" placeholder="Pesquisar..." name="q">
            <div class="espaco-datas">
                <input type="date" name="data_inicio" class="form-data">
                <input type="date" name="data_fim" class="form-data">
            </div>
            <button type="submit" class="button-pesquisa">🔍</button>
        </form>

        <div class="acoes-buttons">
            <button
                class="novo-registro"
                type="button"
                onclick="abrirModal('modalCadastro')" 
            >
                Novo registro
            </button>
        </div>
    </nav>

    <!-- LISTAGEM DE COMBUSTÍVEIS -->
    {% if page_obj %}
        <div class="lista">
            <table class="tabela">
                <thead class="tabela-cabecalho">
                    <tr>
                        <th>Combustível</th>
                        <th>Valor base R$</th>
                        <th>Imposto %</th>
                        <th>Valor total R$</th>
                        <th>Valor de compra R$</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                {% for combustivel in page_obj %}
                <tbody class="tabela-body">
                    <tr>
                        <td data-label="Combustível">{{ combustivel.nome_combustivel }}</td>
                        <td data-label="Valor base R$">{{ combustivel.valor_base }}</td>
                        <td data-label="Imposto %">{{ combustivel.imposto }}</td>
                        <td data-label="Valor total R$">{{ combustivel.valor_total }}</td>
                        <td data-label="Valor de compra R$">{{ combustivel.valor_compra }}</td>
                        <td 
                            data-label="Ações" 
                            class="acoes-buttons"
                        >
                        <button 
                            type="button"
                            onclick="abrirModal('modalEditar{{ combustivel.id }}')"
                            class="btn atualizar"
                            >
                           <i class="fas fa-edit"></i>
                        </button>
                            
                        <form method="POST" action="{% url 'cadastros:tanques:deletar_combustivel' combustivel.pk %}">
                            {% csrf_token %}
                            <button 
                                type="submit"
                                class="btn deletar"
                            >
                                <i class="fas fa-trash"></i>                                             
                            </button>
                        </form>
                        </td>
                    </tr>
                    <div id="modalEditar{{ combustivel.id }}" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="fecharModal('modalEditar{{ combustivel.id }}')">&times;</span>
                            <h2>Editar Combustivel</h2>
                            <form method="POST" action="{% url 'cadastros:tanques:atualizar_combustivel' combustivel.id %}">
                                {% csrf_token %}
                                <div class="modal-form-grid">
                                    {% for field in combustivel.form_edicao %}
                                        <div class="form-group">
                                            {{ field.label_tag }}
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                 </div>
                                <button type="submit">Salvar Alterações</button>
                            </form>
                        </div>
                    </div>
                </tbody>
                {% endfor %}
            </table>
        </div>

        <!-- PAGINAÇÃO -->
        {% if page_obj.paginator.num_pages > 1 %}
        <div class="paginacao">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">«</a>
            {% endif %}
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">»</a>
            {% endif %}
        </div>
        {% endif %}

    {% else %}
        <h2>Não há registros de Combustíveis</h2>
    {% endif %}

</div>

    {% block modal %}
    
        {% url 'cadastros:tanques:cadastrar_combustivel' as cadastrar_url %}
        {% include 'home_template/partials/modal.html' with modal_id="modalCadastro" titulo="Novo Registro" action_url=cadastrar_url form=form botao_texto="Salvar" %}
            

    {% endblock modal %}
{% endblock %}
