{% extends 'home_template/pages/base.html' %}

{% load static %}

{% block title %} Abastecimento {% endblock  %}

{% block head %}
   <link rel="stylesheet" href="{% static 'abastecimento/css/forms.css' %}">
{% endblock  %}


{% block main %}

    <div class="form-espaco">

        <h2 class="form-titulo"> Cadastro de Abastecimento de Veiculos</h2>

        {% include 'home_template/partials/messages.html' %}


        <form method="POST" action="{% url 'servicos:abastecimento:cadastrar' %}" class="form">
            {% csrf_token %}
            

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {{ field }}
                    {% if field.errors %}
                        {% for erro in field.errors %}
                            <p class="messages-error">{{ erro }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            <input 
                type="hidden"
                name='next'
                value="{{ request.GET.next }}"
            >
            
            <div class="form-actions">
                <button 
                    class="btn cadastrar" 
                    type="submit"
                >
                    Cadastrar
                </button>


                <a 
                    href="{{ request.GET.next|default:request.META.HTTP_REFERER }}" class=" btn cancelar"
                >
                    Cancelar
                </a>
            </div>
        </form>
    </div>

{% endblock %}