{% extends 'home_template/pages/base.html' %}

{% load static %}

{% block title %} Abastecimento {% endblock %}
    
{% block head %}
    <link rel="stylesheet" href="{% static 'abastecimento/css/lista_abastecimento.css' %}">
{% endblock  %}

{% block main %}
    <div class="campo-pagina">
        <h2 class="titulo-listagem">Saída de combustível</h2>
            
        <nav class="nav-pesquisa">
            <form method="GET" class="form">

                <div>
                    <input type="text" class="form-input" placeholder="Pesquisar..." name="q">
                </div>
                <div class="espaco-datas">
                    <input type="date" name="data_inicio" class="form-data">
                    <input type="date" name="data_fim" class="form-data">
                </div>
                <button type="submit" class="button-pesquisa">
                    🔍
                </button>
            </form>

            <div class="acoes-buttons">

                <a 
                    class="novo-registro" 
                    href="{% url 'servicos:abastecimento:cadastrar' %}?next={{ request.get_full_path }}"
            
                >
                    Novo registro
                </a>

            </div>


        </nav>


        {% if page_obj %}
            <div class="lista">
                {% for abastecimento in page_obj %}
                    <table class="tabela">
                        <tbody class="tabela-body">
                            <tr>
                                <th>Responsável</th>
                                <td>
                                    {{ abastecimento.funcionario.username }}
                                </td>
                            </tr>
                            <tr>
                                <th>Tanque</th>
                                {% if abastecimento.tanque %}
                                    <td>
                                        {{ abastecimento.tanque.identificador_tanque }}
                                    </td>
                                {% else %}
                                    <td>
                                       Não há cargo registrado
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Bomba</th>
                                {% if abastecimento.bomba %}
                                    <td>
                                        {{ abastecimento.bomba.nome_bomba }}
                                    </td>
                                {% else %}
                                    <td>
                                       Não há bomba registrada
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Tipo</th>
                                {% if abastecimento.tanque %}
                                    <td>
                                        {{ abastecimento.tanque.tipo_combustivel }}
                                    </td>
                                {% else %}
                                    <td>
                                       Não há tipo de combustível registrado
                                    </td>
                                {% endif %}
                            </tr>                            
                            <tr>
                                <th>Consumida L</th>
                                <td>
                                    {{ abastecimento.litros_abastecido }}
                                </td>
                            </tr>
                            <tr>
                                <th>Data</th>
                                <td>
                                    {{ abastecimento.criado }}
                                </td>
                            </tr>                            
                            <tr>
                                <th>Valor total R$</th>
                                <td>
                                    {{ abastecimento.valor_total_abastecimento }}
                                </td>
                            </tr>

                            <tr>
                                <th>Ações</th>
                                <td class="acoes-buttons">
                                    <a  
                                        href="{% url 'servicos:abastecimento:atualizar' abastecimento.pk %}?next={{ request.get_full_path }}" 
                                        class="btn atualizar"
                                    >
                                        Editar
                                    </a>

                                    <a 
                                        href="{% url 'servicos:abastecimento:deletar' abastecimento.pk %}"
                                        class="btn deletar"
                                    >
                                        Apagar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>

            <div class="paginacao">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">«</a>
                {% endif %}

                <span>
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&data_inicio={{ request.GET.data_inicio }}&data_fim={{ request.GET.data_fim }}">»</a>
                {% endif %}
            </div>

        {% else %}
            <h2>Não há registros de Abastecimentos</h2>
        {% endif %}


    </div>
{% endblock %}